.pomodoro-clock-main {
    margin-top: 24px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
}

.controller {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.controller .button {
    margin: 12px;
}

.stats {
    display: block;
    margin: 12px 0;
    width: 100%;
    border-top: 1px solid #eee;    
}

.stats p {
    font-size: 0.7em;
    font-weight: bold;
}

/* Times */
.times {
    width: 100%;
    justify-content: left;
}

.times-content {
    display: inline-block;
    width: 96px;
    height: 96px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #FFE800;
    border-radius: 50%;
    box-shadow: 0 0.2rem #ddd;    
}

#timer-label {
    font-size: 1em;
    font-weight: 700;
}

#time-left {
    font-size: 2rem;
    font-weight: 700;
}

/* Settings */
.settings {
    margin-top: 10px;
  }
  
.settings-section {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.settings-section label {
    font-weight: 700;    
}

.settings-section button {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.settings-section button.disable {
    opacity: 0.5;
    cursor: not-allowed;
}

.settings-section label {
    font-size: 0.7em;
    color: #ccc;
    width: 52%;    
}

.settings-section span {
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    color: #444;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    
}

/* Viral */
.flowviral-hide {
    display:none;
}

.flowviral {
    margin-top: 24px;
}
.flowviral p {
    font-size: .7em;
}

.flowviral p.tweet-preview {
    background: #fefefe;
    padding: 6px;
    border: 1px solid #eee;
}

.flowviral p.share-prompt {
    margin-right: 10px;
    line-height: 1.5em;
    display: inline-block;
    vertical-align: middle;
}