@import url('https://fonts.googleapis.com/css?family=Helvetica:400,700,800,900');

/* Core Application Styling */
html {
  height: 100%;
  font-size: 10px; 
  

}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  background-color: #FBF7F0;
}

@media (min-width: 1080px) {
    body {
      font-size: calc(1.2em + 0.5vw); } }

p {
  margin: 1.5em auto; }

a, a:visited {
  color: #038930; }

.layout {
  max-width: 90em;
  margin: 0 auto; }
  @media (min-width: 1080px) {
    .layout {
      min-height: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: stretch; } }
      
.intro {
  max-width: 30em;
  margin: 0 auto;
  padding: 2em;
  text-align: center; }
  @media (min-width: 1080px) {
    .intro {
      max-width: 100%;
      flex: 0 0 17em;
      padding: 1em 3em;
      text-align: left; } }

@media (min-width: 1080px) {
  .intro__inner {
    position: fixed;
    max-width: 16em; } }

.video-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */  
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trix-container {
  position: relative;
  min-height: 100vh;
  flex-grow: 1;
  max-width: 45em;
  margin: 0 auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0.3rem; }
  @media (min-width: 1080px) {
    .trix-container {
      max-width: 100%;
      margin: 24px 0 0 24px; 
      padding: 2em; } }
    .trix-container:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 1em;
      right: -1em;
      bottom: 0;
      left: 0em;
      background-color: #fff;
      border-top-right-radius: 0.3rem;
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1); }

.trix-container__inner {
  max-width: 40em;
  margin: 0 auto; 
}

.logo {
  margin: 1em 0 .5em 0;
  width: 48px;
}

.title {
  margin: 0em 0 0 0;
  font-size: 135%;
  font-weight: bold;
  line-height: 1.2;
}

.subtitle {
  margin: 0;
  font-size: 125%;
  font-weight: bold;
  color: #666;
  line-height: 1.2;
}

.upsells {
  text-align: left;
  font-size: 90%;
  margin-top: 24px; }
  
  @media (max-width: 1000px) {
    .upsells h3, .upsells p.button {
      text-align: center;
      display: block;
    }

    .upsells .upsells {
      margin-top: 0;
      font-size: 1.1em;
    }

    .upsells .upsells h3 {
      font-size: 1.5em;
      margin-top: 0;
      margin-bottom: 12px;
    }

    section.intro > div.intro__inner > .upsells {
      border: 3px solid #ccc;
      padding: 24px;
      background-color: white;
    }
  }

.upsells h3 {
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: underline;
  font-size: 1.1em;
}

.upsells p, ul {
  margin-top: 6px;
}

.upsells ul {
  margin-left: -25px;
}

@media (min-width: 1080px) {
  .small {
    font-size: 88%; } }

a.tiny {
  font-size: 75% !important;
  display: inline-flex;
  text-decoration: none;
}

.button {
  display: inline-flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  padding: 1rem 2rem;
  background-color: #3cb371;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  -webkit-appearance: none;
  border: 0.1rem solid #038930;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0 #038930; }
  .button:visited {
    color: #fff; }
  .button:hover {
    color: #fff;
    background-color: #319b5c;
    cursor: pointer;
    text-decoration: none; }

.button.normal {
  color: #000;
  background-color: #fff;
  border-color: #333;
  box-shadow: 0 0.2rem #333;
}

.trix-content h1 {
  margin-bottom: 0.4em; }
.trix-content .attachment--preview {
  margin: 0.6em 0; }

trix-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: -0.1rem;
  font-family: sans-serif;
  background-color: #fff;
  z-index: 10;
  padding: 1em 0; }
  trix-toolbar .trix-button-group {
    margin-bottom: 0; }

trix-editor {
  border: none;
  min-height: 320px !important; }

.fullscreen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  padding: 0 1em 1em 1em; }
  .fullscreen trix-toolbar {
    flex-shrink: 0; }
  .fullscreen trix-editor {
    flex: 1 0 auto;
    padding: 0;
    min-height: 0 !important; }

/* Trix Editor Styling Enhancements */
trix-editor {
  display: block;
}

trix-editor:empty:not(:focus)::before {
  content: attr(placeholder);
  color: graytext;
  cursor: text;
}

trix-editor a[contenteditable=false] {
  cursor: text;
}

trix-editor img {
  max-width: 100%;
  height: auto;
}

trix-editor [data-trix-attachment] figcaption textarea {
  resize: none;
}

trix-editor [data-trix-attachment] figcaption textarea.trix-autoresize-clone {
  position: absolute;
  left: -9999px;
  max-height: 0px;
}

trix-editor [data-trix-attachment] figcaption[data-trix-placeholder]:empty::before {
  content: attr(data-trix-placeholder);
  color: graytext;
}

trix-editor [data-trix-cursor-target] {
  display: inline-block !important;
  width: 1px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

trix-editor [data-trix-cursor-target=left] {
  vertical-align: top !important;
  margin-left: -1px !important;
}

trix-editor [data-trix-cursor-target=right] {
  vertical-align: bottom !important;
  margin-right: -1px !important;
}

trix-toolbar {
  display: block;
}

trix-toolbar {
  white-space: nowrap;
}

trix-toolbar [data-trix-dialog] {
  display: none;
}

trix-toolbar [data-trix-dialog][data-trix-active] {
  display: block;
}

trix-toolbar [data-trix-dialog] [data-trix-validate]:invalid {
  background-color: #ffdddd;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 20;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  height: 570px;
  margin: 0 auto;
  padding: 30px;
  font-size: 75%;
  font-weight: bold;
  line-height: 1.2;

}

.modal > .header {
  display: block;
}

.modal .header h2 {
  margin-bottom: 6px;
}

.modal .header hr {
  margin: 0 0 20px 0;
  border: 3px solid #eee;
}

.modal > .header > a {
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  float:right;
}

.modal .modal-content {
  height: 100%;
}

.modal .footer {
  margin-top: 6px;
  text-align: center;
  line-height: 18px;
  display: block;
}

.modal .footer p {
  font-size: 12px;
  font-weight: normal;
}

.modal .footer .button {
  width:98%;
  font-size: 1.4em;
}

.modal .form-intro {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.modal label {
  display: inline-block;
  margin-bottom: .5rem;
}

.modal form {
  margin-bottom: 24px;
}

.modal input {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0 1rem 0 0;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:100%;
}

.modal .form-row{
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom:1rem;
}

.modal, ::after, ::before {
    box-sizing: border-box;
}